html, body {
    background-color: #0f0f0f !important;
}

* {
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0em auto;
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
    grid-auto-rows: 150px;
    padding: 1em;
}

.box {
    border-radius: 2px;
    min-width: 250px;
    background-color: #272f3d;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.header {
    grid-column: span 12;
}

.small-box {
    grid-column: span 3;
}

.large-box {
    grid-column: span 8; 
    grid-row: span 3;
}

.tall-box {
    grid-column: span 4;
    grid-row: span 3; 
}

.full-width {
    grid-column: span 12;
    min-height: 400px;
}

