<div class="content-section">
    <section class="about-me">

        <div class="content">
            <div class="profile">
                <img src="images/CV_foto.jpeg" alt="Profile Picture" class="profile-img">
            </div>
            <div class="text-content">
                <h2 class="name">Petr Matej</h2>
                <h4 class="role">Full Stack .NET Software Engineer</h4>
                <p class="description">
                    Experienced Software Engineer with 5+ years of professional experience, specializing in .NET development.
                </p>
                <ul class="skills-list">
                    <li>🧠 Analytical thinker (INTJ personality type) with strong problem-solving skills</li>
                    <li>🚀 Open-minded quick learner, curious about new technologies, committed to continuous learning</li>
                    <li>💡 Passionate about finance, trading, and developing custom data analysis tools using C#</li>
                </ul>
                <div class="buttons">
                    <a href="https://www.linkedin.com/in/petr-matej/" class="btn btn-primary" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    @* <button class="btn btn-secondary">Hire Me</button> *@
                </div>
            </div>
        </div>


        <div class="skills-summary">
            <div class="my-skills">
                <h3>Skills summary</h3>
                <ul class="skill-list">
                    <li><i class="fab fa-microsoft"></i> .NET, C# (5 years)</li>
                    <li><i class="fas fa-tools"></i> CI/CD - TeamCity, Jenkins (5 years)</li>
                    <li><i class="fas fa-database"></i> SQL - MS SQL (4 years)</li>
                    <li><i class="fab fa-python"></i> Python (2 years)</li>
                    <li><i class="fab fa-aws"></i> AWS (1 year)</li>
                    <li><i class="fas fa-code"></i> Blazor</li>
                    <li><i class="fab fa-html5"></i> HTML, CSS, Javascript</li>
                    <li><i class="fas fa-code"></i> Git</li>
                    <li><i class="fas fa-tasks"></i> JIRA, Confluence</li>
                    <li><i class="fab fa-docker"></i> Docker</li>
                    <li><i class="fas fa-chart-line"></i> Statistics</li>
                    <li><i class="fab fa-linux"></i> Linux</li>
                </ul>
            </div>
            <div class="languages">
                <h3>Languages</h3>
                <ul class="language-list">
                    <li><img src="https://flagcdn.com/w40/cz.png" alt="Czech Flag"> Czech (native)</li>
                    <li><img src="https://flagcdn.com/w40/gb.png" alt="English Flag"> English (fluent)</li>
                    <li><img src="https://flagcdn.com/w40/de.png" alt="German Flag"> German (basic, learning)</li>
                </ul>
            </div>
        </div>

        <div class="journey">
            <h3>Professional Experience</h3>
            <div class="journey-items">

                <div class="item">
                    <div class="company">
                        <div class="company-header">
                            <div>
                                <h4>Barclays Corporate & Investment Bank</h4>
                                <p>Full-time · 4 yrs 1 mo</p>
                                <p class="job-location">Prague, Czechia</p>
                            </div>
                        </div>

                        <div class="job">
                            <h4>Senior Software Engineer, AVP, Team Lead</h4>
                            <p class="job-duration">Nov 2022 - Jun 2024 · 1 yr 8 mos</p>
                            <div class="job-details">
                                <ul>
                                    <li>Led a 5-person team</li>
                                    <li>With the team, we designed and implemented complex integration pipeline for risk calculating libraries, significantly streamlining UAT and production releases</li>
                                    <li>Communicated between teams and stakeholders, ensuring project alignment and timely delivery</li>
                                    <li>Implemented tools that helped users with daily business tasks</li>
                                    <li>Mentored 3 junior developers (1 apprentice, 2 graduates)</li>
                                    <li>Conducted code reviews, improving code quality and team development practices</li>
                                    <li>Created technical documentation and user guides</li>
                                </ul>
                                <div class="skills">
                                    <span class="skill">.NET</span>
                                    <span class="skill">C#</span>
                                    <span class="skill">SQL</span>
                                    <span class="skill">TeamCity</span>
                                    <span class="skill">Blazor</span>
                                    <span class="skill">Analytical Skills</span>
                                    <span class="skill">Team Leadership</span>
                                    <span class="skill">ElasticSearch</span>
                                    <span class="skill">HTML</span>
                                    <span class="skill">CSS</span>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="job">
                            <h4>Software Engineer, BA3 & BA4</h4>
                            <p class="job-duration">Jun 2020 - Nov 2022 · 2 yrs 6 mos</p>
                            <div class="job-details">
                                <ul>
                                    <li>Implemented and maintained features for internal Beowulf options risk pricing platform, including unit and integration tests coverage</li>
                                    <li>Contributed to migration of legacy systems to AWS</li>
                                    <li>Participated in regular production support rotation, including weekend releases and on-call support</li>
                                    <li>Developed and optimized features across full stack: C# backend, Blazor frontend, Python automation scripts</li>
                                </ul>
                                <h5>Technical growth:</h5>
                                <ul>
                                    <li>Completed extensive AWS courses via PluralSight, applying cloud knowledge to migration project</li>
                                    <li>Mastered test-driven development practices</li>
                                </ul>
                                <div class="skills">
                                    <span class="skill">.NET</span>
                                    <span class="skill">C#</span>
                                    <span class="skill">SQL</span>
                                    <span class="skill">TeamCity</span>
                                    <span class="skill">AWS</span>
                                    <span class="skill">Python</span>
                                    <span class="skill">TypeScript</span>
                                    <span class="skill">HTML</span>
                                    <span class="skill">CSS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="company">
                        <div class="company-header">
                            <div>
                                <h4>Profiq s.r.o.</h4>
                                <p>Part-time · 1 yr 5 mos</p>
                                <p class="job-location">Ostrava, Czechia</p>
                            </div>
                        </div>

                        <div class="job">
                            <h4>Software Engineer</h4>
                            <p class="job-duration">Apr 2018 - Aug 2019</p>
                            <div class="job-details">
                                <ul>
                                    <li>QA and Testing specialist for enterprise clients (Avast, Liferay, ForgeRock) while completing bachelor's degree</li>
                                    <li>Developed and maintained automated test frameworks</li>
                                    <li>Created test suites using Robot Framework and Selenium, improving test coverage and reliability</li>
                                    <li>Developed 2 simple Android applications integrating client's SDK, serving as proof-of-concept for technical evaluation</li>
                                    <li>Conducted penetration testing using custom-built testing application and identified few security vulnerabilities in client's API</li>
                                    <li>Published technical articles:
                                        <div class="skills links">
                                            <a href="https://www.profiq.com/creating-coppa-compliant-apps-with-dynepic-playportal-sdk/" target="_blank" class="skill link" rel="noopener noreferrer">Dynepic <i class="fas fa-up-right-from-square"></i></a>
                                            <a href="https://www.profiq.com/creating-a-mobile-live-stream-platform-with-wowza-media-systems/" target="_blank" class="skill link" rel="noopener noreferrer">Wowza <i class="fas fa-up-right-from-square"></i></a>
                                            <a href="https://www.profiq.com/kinetica-the-next-generation-of-gpu-databases/" target="_blank" class="skill link" rel="noopener noreferrer">Kinetica <i class="fas fa-up-right-from-square"></i></a>
                                        </div>
                                    </li>
                                    
                                </ul>
                                <div class="skills">
                                    <span class="skill">Python</span>
                                    <span class="skill">Selenium</span>
                                    <span class="skill">Javascript</span>
                                    <span class="skill">SQL</span>
                                    <span class="skill">Docker</span>
                                    <span class="skill">Penetration testing</span>
                                    <span class="skill">Jenkins</span>
                                    <span class="skill">Linux</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="journey">
            <h3>Education</h3>
            <div class="journey-items">

                <div class="item">
                    <div class="company">
                        <div class="company-header">
                            <div>
                                <h4>VSB - Technical University of Ostrava</h4>
                                <p>2016 - 2019</p>
                                <p class="job-location">Ostrava, Czechia</p>
                            </div>
                        </div>

                        <div class="job">
                            <h4>Bachelor's degree</h4>
                            <div class="job-details">
                                <ul>
                                    <li>Thesis - practice in the company Profiq s.r.o.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="interests">
            <h3>My Interests</h3>
            <div class="interest-items">
                <div class="item"><i class="fas fa-chart-line"></i> Financial Markets</div>
                <div class="item"><i class="fas fa-dumbbell"></i> Strength Training</div>
                <div class="item"><i class="fas fa-plane"></i> Traveling</div>
                <div class="item"><i class="fas fa-leaf"></i> Gardening</div>
                <div class="item"><i class="fas fa-hands-helping"></i> Volunteering</div>
            </div>
        </div>
    </section>

</div>